Source: ros-hydro-app-manager
Section: misc
Priority: extra
Maintainer: Dash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-rosgraph, ros-hydro-roslaunch, ros-hydro-rospy, ros-hydro-rosunit
Homepage: http://ros.org/wiki/app_manager
Standards-Version: 3.9.2

Package: ros-hydro-app-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-rosgraph, ros-hydro-roslaunch, ros-hydro-rospy, ros-hydro-rosunit
Description: app_manager
