Source: ros-melodic-app-manager
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), python-rosdep, python-setuptools, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-rosgraph, ros-melodic-roslaunch, ros-melodic-rospy, ros-melodic-rospy-tutorials, ros-melodic-rosservice, ros-melodic-rostest, ros-melodic-rosunit
Homepage: http://ros.org/wiki/app_manager
Standards-Version: 3.9.2

Package: ros-melodic-app-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-rosgraph, ros-melodic-roslaunch, ros-melodic-rospack, ros-melodic-rospy, ros-melodic-rosunit, ros-melodic-std-srvs
Description: app_manager
